### Commin 
TZ=Europe/Warsaw

### PrestaShop section
PS_IMAGE=prestashop/prestashop:9
PS_RESTART_POLICY=on-failure:3
PS_EXTERNAL_PORT=8099
PS_DOMAIN=hawer.localhost

### mysql section
MYSQL_IMAGE=mysql:lts
MYSQL_RESTART_POLICY=on-failure:3
